
.gallery2 {
  display: flex;
  flex-wrap: wrap;
}

.gallery2-item {
  width: 330px;
  height: 265px;
  margin: 10px;
  text-decoration: none;
}

.gallery2-item img {
  position: absolute;
  width: 330px;
  height: 265px;
}

.text-wrapper {
  position: relative;
  width: 330px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.text-wrapper{
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.name {
  font-size: 1.5em;
}
