*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.steps-circles {
  width: 100vh;
  margin: 0px auto;
}

.steps-circles ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.steps-circles li {
  position: relative;
  width: 20%;
  margin-left: 30px;
  float: left;
  padding: 0 15px;
}
.title-steps h3{
  margin-bottom: 100px;
    font-weight: bold;
}

.steps-circles li.active .border, .steps-circles li:hover .border {
  background-color: #1c1c1e;
  z-index: 2;
}
.steps-circles li.active .circle, .steps-circles li:hover .circle {
  z-index: 3;
}
.steps-circles .border {
  position: absolute;
  display: block;
  top: -4px;
  right: 11px;
  left: 11px;
  background-color: #b2b2b2;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.steps-circles .border:after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.steps-circles .circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0, 0);
}
.steps-circles .expander-nav .create {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/home-create-thumb.png);
}
.steps-circles .expander-nav .evolve {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/home-evolve-thumb.png);
}
.steps-circles .expander-nav .discover {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/home-discover-thumb.png);
}

.img-prev{
  background-position: center;
    background-size: cover;
}


.steps-circles .tagline {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin: 30px 0 0;
}
.steps-circles .tagline a {
  color: #242529;
  text-decoration: none;
}
.steps-circles .tagline a:hover {
  text-decoration: underline;
}

.steps-circles .tagline:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
  color: #dfdfdf;
}

.steps-circles .tagline.first:before {
  content: "1";
}
.steps-circles .tagline.second:before {
  content: "2";
}
.steps-circles .tagline.third:before {
  content: "3";
}
.steps-circles .tagline.fourth:before {
  content: "4";
}
.steps-circles .tagline .title {
  position: relative;
  z-index: 1;
}


.steps{
  background: #0d95ea;
  -webkit-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);

}
.steps .content {
  -webkit-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
}
